@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DevTest</h1>
    <p class="lead">Teste sendo desenvolvido pela Letícia Tavares dos Santos</p>
    <p><a href="https://www.linkedin.com/in/let%C3%ADcia-tavares-b01a0815b/?_l=pt_BR" class="btn btn-primary btn-lg">Conheça mais sobre ela &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fale com ela!</h2>
        <p>
            Meu nome é Letícia Tavares dos Santos, curso meu último período de Sistemas de Informação pelo Instituto Federal de Minas Gerais,
            estou em busca da minha primeira oportunidade para o mercado de trabalho.
            Tive experiência como estagiária em Delphi e atualmente busco ampliar meus conhecimentos. .
        </p>
        <p><a class="btn btn-default" href="https://api.whatsapp.com/send?phone=5533999575978">Sabia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Conheça um pouco mais sobre a Letícia</h2>
        <p>
            Gosto de ajudar, me realizo na ligação emocional que estabeleço com o outro, na qual valorizo a companhia, familía e a amizade.
            Tenho um espírito inquieto, vibrante e rebelde e uma forte atração pela novidade.
        </p>
        <p><a class="btn btn-default" href="https://www.instagram.com/leh.tavaress/">Sabia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Endereço</h2>
        <p>
            Telefone: (33) 9 9957-5978
            Email: leticiatavares16.lt@gmail.com
            Endereço: Rua Tiradentes, 117, Centro.
            Cidade: Sabinópolis Estado: Minas Gerais
        </p>
     
    </div>

</div>